<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
</head>
<body>
    {% extends 'library/navbar.html' %}
    {% block content %}

     <div>
        <h2>Change your password here</h2>
         <p>{{ message }}</p>
        <form action="{% url 'users:change_password' %}" method="POST">
            {% csrf_token %}
            <input required type="password" name="old_password" placeholder="old password">
            <input required type="password" name="new_password1" placeholder="new password">
            <input required type="password" name="new_password2" placeholder="confirm new password">
            <button>submit</button>
        </form>
    </div>

    {% endblock content %}
</body>
</html>